body {
  background:#e1dcf5;
  font-family:Arial, sans-serif;
}

.navbar {
  padding:15px 40px;
  color:rgb(16, 15, 15);
  display:flex;
  justify-content:space-between;
}

.logo {
  font-weight:bold;
}

.hero {
  background:#574b90;
  padding:50px;
  border-radius:20px;
  margin-top:40px;
  color:white;
}

.title {
  font-size:42px;
  font-weight:bold;
}

.btn-main {
  background:#f9ca24;
  border:none;
  font-weight:bold;
  color:black;
}

.btn-main:hover {
  background:#e0b500;
  color:black;
}

.hide {
  display:none;
}

.auth-box,
.quiz-box,
.result-box {
  background:white;
  color:black;
  border-radius:15px;
  padding:30px;
  max-width:550px;
  margin:50px auto;
}

.option {
  display:block;
  padding:10px;
}

.progress-lg {
  height:30px;
  font-weight:bold;
}

.correct {
  color:green;
  font-weight:bold;
}

.wrong {
  color:red;
  font-weight:bold;
}

.sub-caption {
  font-size:14px;
  opacity:0.9;
  margin-bottom:10px;
}
